
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  margin: 0px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: rgb(65, 98, 197);
}

.logo-title {
  display: flex;
  align-items: center;
  height: 60px;
}

.logo {
  height: 100px;
  width: auto;
  display: block;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin: 50px 100px; 
}

.text-column {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%; 
}

.Mission, .Vission {
  font-size: 22px;
}

.shop {
  width: 40%;
}

.shop img {
  width: 100%;
  height: auto;
  border-radius: 10px; 
}

.unique{
  text-align: center;
  margin-top: 100px;
}

.features-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start; 
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 20px;
  text-align: center;
}

.feature {
  flex: 1 1 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 180px;
}

.feature img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 16px;
  margin: 0;
}

.site-title {
  color: white;
  font-size: 24px;
  margin-left: 15px;
}

.tatak{
  margin-top: 100px;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar li h2 {
  font-size: 16px;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.navbar a:hover {
 background-color: rgb(73, 73, 170);
  border-radius: 5px;
}

main {
  flex: 1;
  padding: 20px;
  padding-bottom: 80px;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(65, 98, 197);
  color: white;
  padding: 20px;
  z-index: 1000;
}

.footer-columns {
  display: flex;
  justify-content: center;
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.footer-columns ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-columns li {
  margin-bottom: 8px;
}

.footer-columns a {
  color: white;
  text-decoration: none;
}

.footer-columns a:hover {
  text-decoration: underline;
}

.kdfooter{
  margin-right: 200px;
}
